/* CSS RESET */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR PALETTE
Rose: rgb(229,49,112) */


/* Custom Properties */

:root{
    --rose:rgb(229,49,112)
}


/* Generics */
.container{
    max-width: 1080px;
    margin: auto;
}

body{
    font-family: Fredoka, monospace;
}

/* Header */
header{
    text-align: center;
    margin: 2.5rem;
}
header h1{
    font-size: 2.5rem;
    color: var(--rose);
}
header h3{
    margin-top: 3rem;
    font-weight: 200;

}

/* Main */


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: calc(100% / 3 - 2rem);
    height: 100px;
    background-color: black;
    margin: 1rem;
    
}

.clearfix img{
    width: 100px;
}


.content{
    float: left;
}